// Colors
$color-light:#d3d3d3;
$color-dark:#808080;
$color-border:#a9a9a9;
$color-popup-text:red;


// Screensizes
$desktop-width:960px; // Desktop
$tablet-width:768px; // Tablet
$mobile-big-width:450px; // Mobile big
$mobile-small-width:325px; // Mobile
$custom-breakpoint-large:959px;
