.footer {
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  border-top: 1px $color-border solid;
  min-height: 250px;

  @include media-tablet {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media-mobile-big {
    flex-wrap: wrap;
    justify-content: center;
  }
}
